<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
	<!-- General -->
	<category label="50000">
		<setting id="username" type="text" label="50001" default="" />
		<setting id="password" type="text" label="50002" option="hidden" default="" />
		<setting type="sep" />
		<setting id="quality_id" type="enum" label="50003" values="auto|720p @ 60fps (6000 kbps)|720p (3000 kbps)|540p (1600 kbps)|432p (1200 kbps)|360p (800 kbps)" default="0" />
		<setting id="scores" type="bool" label="50004" default="false" />
		<setting id="local_timezone" type="bool" label="50007" default="true" />
		<setting id="fav_team" type="select" label="50009" values="None|Hawks|Celtics|Nets|Hornets|Bulls|Cavaliers|Mavericks|Nuggets|Pistons|Warriors|Rockets|Pacers|Clippers|Lakers|Grizzlies|Heat|Bucks|Timberwolves|Pelicans|Knicks|Thunder|Magic|76ers|Suns|Trail Blazers|Kings|Spurs|Raptors|Jazz|Wizards" default="None" />
		<setting type="sep" />
		<setting id="cached_thumbnails" type="bool" label="50010" default="true" />
		<setting id="debug" type="bool" label="50005" default="false" />
		<setting id="fanart_image" type="text" label="50006" visible="false" default="" />
		<setting id="cameras" type="bool" label="50011" default="true" />
	</category>
</settings>
